<!-- A fully fleshed-out <head>, dynamically changing based on client.json and the page front matter -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Standard meta tags -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="{{ description }}">
        <meta name="keywords" content="">
        <link rel="canonical" href="{{ client.domain }}{{ page.url }}">

        <!--Social Media Display-->
        <meta property="og:title" content="{{ title }}"/>
        <meta property="og:description" content="{{ description }}"/>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="{{ client.domain }}{{ page.url }}"/>
        <meta property="og:image" content="/assets/images/fond.webp"/>
        <meta property="og:image:secure_url" content="/assets/images/fond.png"/>

        <!--Favicons-->
        <meta name="theme-color" content="#ffffff">

        <!-- Preloads -->
        <link rel="preload" as="font" type="font/woff" href="/assets/fonts/segoe.woff" crossorigin>
        <link rel="preload" as="font" type="font/truetype" href="/assets/fonts/segoe-script-bold.ttf" crossorigin>

        <!-- Preload an image - tag not rendered if preloadImg is blank to stop console errors -->
        {% if preloadImg != '' %}
            <link rel="preload" as="image" href="{{ preloadImg }}"/>
        {% endif %}

        <!-- Sitewide Stylesheets and Scripts -->
        <link rel="stylesheet" href="/assets/css/root.css">
        <script defer src="/assets/js/jquery.js"></script>
        <script defer src="/assets/js/lity.js"></script>  
        <link rel="stylesheet" href="/assets/css/lity.css">
  
        {% block head %}{% endblock %}

        <title>{{ title }}</title>
    </head>
    <body>
        <!--Screen reader skip main nav-->
        <a class="skip" aria-label="skip to main content" href="#main" tabindex="1">Click To Skip To Main Content</a>
            {% if footerType == "index" %}
                {% include "components/footer.html" %}
            {% else %}
                {% include "components/footer-inner.html" %}
            {% endif %}
            <main id="main">
            {% include "components/header.html" %}
            {% block body %}{% endblock %}
        </main>

    </body>
</html>