---
title: 'Abstractions | Paintings by Maeve | Paris'
headerTitle: "4. Abstractions"
description: 'Meta description for the page'
preloadImg: '/assets/images/abstractions/fond.jpg'
permalink: 'abstractions/'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/abstractions.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                  Gallery                     -->
<!-- ============================================ -->
<section id="gallery-maeve">
    <div class="cs-container">
        <ul class="cs-image-group">
            <!-- Painting 1 -->
            <li class="cs-item cs-item-1">
                <a href="/assets/images/abstractions/Bribes_de_lettres.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/abstractions/Bribes_de_lettres.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/abstractions/Bribes_de_lettres.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/abstractions/Bribes_de_lettres.jpg" alt="Bribes_de_lettres.jpg" width="529" height="256">
                </picture>
                </a>
                <div class="cs-title-box">
                    <h2 class="cs-h2">Bribes de lettres</h2>
                </div>
            </li>
            <!-- Painting 2 -->
            <li class="cs-item cs-item-2">
                <a href="/assets/images/abstractions/Ces_murs_qui_parlent.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/abstractions/Ces_murs_qui_parlent.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/abstractions/Ces_murs_qui_parlent.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/abstractions/Ces_murs_qui_parlent.jpg" alt="Ces_murs_qui_parlent.jpg" width="255" height="255">
                </picture>
                </a>
                <div class="cs-title-box">
                    <h2 class="cs-h2">Ces murs qui parlent</h2>
                </div>
            </li>
            <!-- Painting 3 -->
            <li class="cs-item cs-item-3">
                <a href="/assets/images/abstractions/Chemins_du_reve.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/abstractions/Chemins_du_reve.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/abstractions/Chemins_du_reve.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/abstractions/Chemins_du_reve.jpg" alt="Chemins_du_reve" width="255" height="255">
                </picture>
                </a>
                <div class="cs-title-box">
                    <h2 class="cs-h2">Chemins du rêve</h2>
                </div>
            </li>
            <!-- Painting 4 -->
            <li class="cs-item cs-item-4">
                <a href="http://localhost:8080/assets/images/abstractions/Composition_bleue.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/abstractions/Composition_bleue.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/abstractions/Composition_bleue.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/abstractions/Composition_bleue.jpg" alt="Composition_bleue" width="255" height="255">
                </picture>
                </a>
                <div class="cs-title-box">
                    <h2 class="cs-h2">Composition bleue</h2>
                </div>
            </li>
            <!-- Painting 5 -->
            <li class="cs-item cs-item-5">
                <a href="/assets/images/abstractions/Delivrer_le_luxe.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/abstractions/Delivrer_le_luxe.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/abstractions/Delivrer_le_luxe.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/abstractions/Delivrer_le_luxe.jpg" alt="Delivrer_le_luxe" width="255" height="255">
                </picture>
                </a>
                <div class="cs-title-box">
                    <h2 class="cs-h2">Delivrer le luxe</h2>
                </div>
            </li>
            <!-- Painting 6 -->
            <li class="cs-item cs-item-6">
                <a href="/assets/images/abstractions/Desserer_l'etau.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/abstractions/Desserer_l'etau.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/abstractions/Desserer_l'etau.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/abstractions/Desserer_l'etau.jpg" alt="Desserer l'etau" width="255" height="255">
                </picture>
                </a>
                <div class="cs-title-box">
                    <h2 class="cs-h2">Desserrer l'etau</h2>
                </div>
            </li>
            <!-- Painting 7 -->
            <li class="cs-item cs-item-7">
                <a href="/assets/images/abstractions/Tentative_de_fusion_des_différences.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/abstractions/Tentative_de_fusion_des_différences.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/abstractions/Tentative_de_fusion_des_différences.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/abstractions/Tentative_de_fusion_des_différences.jpg" alt="Disruptivite" width="255" height="255">
                </picture>
                </a>
                <div class="cs-title-box">
                    <h2 class="cs-h2">Tentative de fusion des différences</h2>
                </div>
            </li>
            <!-- Painting 8 -->
            <li class="cs-item cs-item-8">
                <a href="/assets/images/abstractions/Empreintes.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/abstractions/Empreintes.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/abstractions/Empreintes.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/abstractions/Empreintes.jpg" alt="Empreintes" width="255" height="255">
                </picture>
                </a>
                <div class="cs-title-box">
                    <h2 class="cs-h2">Empreintes</h2>
                </div>
            </li>
            <!-- Painting 9 -->
            <li class="cs-item cs-item-9">
                <a href="/assets/images/abstractions/Expansion_musicale_2.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/abstractions/Expansion_musicale_2.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/abstractions/Expansion_musicale_2.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/abstractions/Expansion_musicale_2.jpg" alt="Expansion_musicale_2" width="255" height="255">
                </picture>
                </a>
                <div class="cs-title-box">
                    <h2 class="cs-h2">Expansion musicale</h2>
                </div>
            </li>
            <!-- Painting 10 -->
            <li class="cs-item cs-item-10">
                <a href="/assets/images/abstractions/Extension.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/abstractions/Extension.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/abstractions/Extension.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/abstractions/Extension.jpg" alt="Extension" width="255" height="255">
                </picture>
                </a>
                <div class="cs-title-box">
                    <h2 class="cs-h2">Extension</h2>
                </div>
            </li>
            <!-- Painting 11 -->
            <li class="cs-item cs-item-11">
                <a href="/assets/images/abstractions/Loiseau_de_feu.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/abstractions/Loiseau_de_feu.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/abstractions/Loiseau_de_feu.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/abstractions/Loiseau_de_feu.jpg" alt="Loiseau_de_feu" width="255" height="255">
                </picture>
                </a>
                <div class="cs-title-box">
                    <h2 class="cs-h2">L'oiseau de feu</h2>
                </div>
            </li>
            <!-- Text -->
            <li class="cs-item cs-item-12">
                <p class="cs-text">
                    Croisements fortuits, fusions aléatoires, dessinant des
                    archipels inconnus, avant de se dissoudre, à leur tour emportés vers d’autres rivages...
                    L’oeil se surprend à les suivre et les transcrire, presque inconsciemment, guidé par une main invisible, jusqu’à leurs lisières...Mosaïque fragmentant la vision présente des choses en perceptions mouvantes, au gré du vent, des nuages, et du bercement de l’eau, illusions éphémères où l’oeil se laisse emporter..
                </p>
            </li>
            <!-- Black line 1 -->
            <li class="cs-hide-on-mobilecs-item cs-item-13 ">
                <p class="cs-hide-on-mobile">
                </p>
            </li>
            <!-- white line 1 -->
            <li class="cs-hide-on-mobile cs-item cs-item-14">
                <p>
                </p>
            </li>
            <!-- white line 2 -->
            <li class="cs-hide-on-mobile cs-item cs-item-15">
                <p>
                </p>
            </li>
            <!-- white line 3 -->
            <li class="cs-hide-on-mobile cs-item cs-item-16">
                <p>
                </p>
            </li>
            <!-- black line 2 -->
            <li class="cs-hide-on-mobile cs-item cs-item-17">
                <p>
                </p>
            </li>
        </ul>
    </div>
</section>


                                

{% endblock %}