---
title: 'Reves et cauchemars | Paintings by Maeve | Paris'
headerTitle: "5. Reves et cauchemars"
description: 'Meta description for the page'
preloadImg: '/assets/images/cauchemars/fond.jpg'
permalink: 'reves-et-cauchemars/'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/cauchemars.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                  Gallery                     -->
<!-- ============================================ -->
<section id="gallery-maeve">
    <div class="cs-container">
        <ul class="cs-image-group">
            <!-- Painting 1 -->
            <li class="cs-item cs-item-1">
                <a href="/assets/images/cauchemars/Au_seuil_de_la_nuit-entre_rêves_et_cauchemards.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/cauchemars/Au_seuil_de_la_nuit-entre_rêves_et_cauchemards.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/cauchemars/Au_seuil_de_la_nuit-entre_rêves_et_cauchemards.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/cauchemars/Au_seuil_de_la_nuit-entre_rêves_et_cauchemards.jpg" alt="Au_seuil_de_la_nuit-entre_rêves_et_cauchemards.jpg" width="529" height="256">
                </picture>
                </a>
            </li>
            <!-- Painting 2 -->
            <li class="cs-item cs-item-2">
                <a href="/assets/images/cauchemars/Confusions.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/cauchemars/Confusions.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/cauchemars/Confusions.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/cauchemars/Confusions.jpg" alt="Confusions.jpg" width="255" height="255">
                </picture>
                </a>
            </li>
            <!-- Painting 3 -->
            <li class="cs-item cs-item-3">
                <a href="/assets/images/cauchemars/Detours_nocturnes.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/cauchemars/Detours_nocturnes.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/cauchemars/Detours_nocturnes.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/cauchemars/Detours_nocturnes.jpg" alt="Detours_nocturnes" width="255" height="255">
                </picture>
                </a>
            </li>
            <!-- Painting 4 -->
            <li class="cs-item cs-item-4">
                <a href="/assets/images/cauchemars/Enlacements.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/cauchemars/Enlacements.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/cauchemars/Enlacements.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/cauchemars/Enlacements.jpg" alt="Enlacements" width="255" height="255">
                </picture>
                </a>
            </li>
            <!-- Painting 5 -->
            <li class="cs-item cs-item-5">
                <a href="/assets/images/cauchemars/Fusion_insolite.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/cauchemars/Fusion_insolite.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/cauchemars/Fusion_insolite.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/cauchemars/Fusion_insolite.jpg" alt="Fusion_insolite" width="255" height="255">
                </picture>
                </a>
            </li>
            <!-- Painting 6 -->
            <li class="cs-item cs-item-6">
                <a href="/assets/images/cauchemars/Pensees.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/cauchemars/Pensees.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/cauchemars/Pensees.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/cauchemars/Pensees.jpg" alt="Pensees" width="255" height="255">
                </picture>
                </a>
            </li>
            <!-- Painting 7 -->
            <li class="cs-item cs-item-7">
                <a href="/assets/images/cauchemars/Detours_nocturnes.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/cauchemars/Songes_nocturnes.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/cauchemars/Songes_nocturnes.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/cauchemars/Songes_nocturnes.jpg" alt="Songes_nocturnes" width="255" height="255">
                </picture>
                </a>
            </li>
            <!-- Text -->
            <li class="cs-item cs-item-8">
                <p class="cs-text">
                    Effaçant les fragiles frontières entre jour et nuit, ils dessinent d’autres vies éphémères parfois plus présentes que celles vécues, indéfinissables, obsédantes, pour finalement s’évanouir le matin comme bulles de savon ...
                </p>
            </li>
            <!-- white line 1 -->
            <li class="cs-item cs-item-9 cs-hide-on-mobile">
                <p class="cs-text">
                </p>
            </li>
            <!-- white line 2 -->
            <li class="cs-item cs-item-10 cs-hide-on-mobile">
                <p class="cs-text">
                </p>
            </li>
            <!-- white line 3 -->
            <li class="cs-item cs-item-10 cs-hide-on-mobile">
                <p class="cs-text">
                </p>
            </li>
        </ul>
    </div>
</section>


                                

{% endblock %}