---
title: 'Elevations | Paintings by Maeve | Paris'
headerTitle: "3. Elevations"
description: 'Meta description for the page'
permalink: 'elevations/'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/elevations.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                  Gallery                     -->
<!-- ============================================ -->
<section id="gallery-maeve">
    <div class="cs-container">
        <ul class="cs-image-group">
            <!-- Painting 1 -->
            <li class="cs-item cs-item-1">
                <a href="/assets/images/elevations/fullscreen/Ebauche.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/elevations/ebauche.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/elevations/ebauche.jpg">
                        <img loading="preload" decoding="async" src="/assets/images/elevations/ebauche.jpg" alt="Ebauche.jpg" width="529" height="256">
                </picture>
                </a>
                <div class="cs-title-box">
                    <h2 class="cs-h2">Ébauche</h2>
                </div>
            </li>
            <!-- Painting 2 -->
            <li class="cs-item cs-item-2">
                <a href="/assets/images/elevations/fullscreen/elevations.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/elevations/elevations.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/elevations/elevations.webp">
                    <img loading="preload" decoding="async" src="/assets/images/elevations/elevations.webp" alt="elevations" width="255" height="255">
                </picture>
                </a>
                <div class="cs-title-box">
                    <h2 class="cs-h2">Élévations</h2>
                </div>
            </li>
            <!-- Painting 3 -->
            <li class="cs-item cs-item-3">
                <a href="/assets/images/elevations/fullscreen/Expansion_musicale.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/elevations/Expansion_musicale.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/elevations/Expansion_musicale.webp">
                    <img aria-hidden="true" loading="preload" decoding="async" src="/assets/images/elevations/Expansion_musicale.webp" alt="Expansion musicale" width="255" height="255">
                </picture>
                </a>
                <div class="cs-title-box">
                    <h2 class="cs-h2">Expansion musicale</h2>
                </div>
            </li>
            <!-- Painting 4 -->
            <li class="cs-item cs-item-4">
                <a href="/assets/images/elevations/fullscreen/Incendie_a_la_cathedrale_2.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/elevations/Incendie_a_la_cathedrale_2.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/elevations/Incendie_a_la_cathedrale_2.webp">
                    <img aria-hidden="true" loading="preload" decoding="async" src="/assets/images/elevations/Incendie_a_la_cathedrale_2.webp" alt="Incendie_a_la_cathedrale_2" width="255" height="255">
                </picture>
                </a>
                <div class="cs-title-box">
                    <h2 class="cs-h2">Incendie à la cathédrale 2</h2>
                </div>
            </li>
            <!-- Painting 5 -->
            <li class="cs-item cs-item-5">
                <a href="/assets/images/elevations/fullscreen/Incendie_a_la_cathedrale.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/elevations/Incendie_a_la_cathedrale.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/elevations/Incendie_a_la_cathedrale.webp">
                    <img aria-hidden="true" loading="preload" decoding="async" src="/assets/images/elevations/Incendie_a_la_cathedrale.webp" alt="Incendie_a_la_cathedrale" width="255" height="255">
                </picture>
                </a>
                <div class="cs-title-box">
                    <h2 class="cs-h2">Incendie à la cathédrale</h2>
                </div>
            </li>
            <!-- Painting 5b -->
            <li class="cs-item cs-item-5b">
                <a href="/assets/images/elevations/fullscreen/Musique contrapuntique.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/elevations/Musique contrapuntique.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/elevations/Musique contrapuntique.webp">
                    <img aria-hidden="true" loading="preload" decoding="async" src="/assets/images/elevations/Musique contrapuntique.webp" alt="Musique contrapuntique.jpg" width="255" height="255">
                </picture>
                </a>
                <div class="cs-title-box">
                    <h2 class="cs-h2">Musique contrapuntique</h2>
                </div>
            </li>
            <!-- Text -->
            <li class="cs-item cs-item-6">
                <p class="cs-text">
                    Tenter un peu d’éternité, d’au-delà de nos vies, frôler l’indicible et l’apaisement, illusion temporaire de gommer toute finitude... D’écarter les limites éphémères du temps.
                </p>
            </li>
            <!-- white box -->
            <li class="cs-item cs-item-7">
            </li>
            <!-- white box -->
            <li class="cs-item cs-item-8">
            </li>
            <!-- white box
            <li class="cs-item cs-item-9">
            </li> -->
        </ul>
    </div>
</section>


                                

{% endblock %}