---
title: 'La roue du temps| Paintings by Maeve | Paris'
headerTitle: "9. La roue du temps"
description: 'Meta description for the page'
preloadImg: '/assets/images/laroue/fond.jpg'
permalink: 'la-roue-du-temps/'
eleventyNavigation:
    key: La roue du temps
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/laroue.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                  Gallery                     -->
<!-- ============================================ -->
<section id="gallery-maeve">
    <div class="cs-container">
        <ul class="cs-image-group">
            <!-- Painting 1 -->
            <li class="cs-item cs-item-1">
                <a href="/assets/images/laroue/fullscreen/Aujourdhui_et_demain.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/laroue/Aujourdhui_et_demain.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/laroue/Aujourdhui_et_demain.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/laroue/Aujourdhui_et_demain.webp" alt="Aujourdhui_et_demain.jpg" width="529" height="256">
                </picture>
                </a>
               <div class="cs-title-box">
                    <h2 class="cs-h2">Aujourd'hui et demain</h2>
                </div>
            </li>
            <!-- Painting 2 -->
            <li class="cs-item cs-item-2">
                <a href="/assets/images/laroue/fullscreen/Ce_que_nous_sommes.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/laroue/Ce_que_nous_sommes.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/laroue/Ce_que_nous_sommes.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/laroue/Ce_que_nous_sommes.webp" alt="Ce_que_nous_sommes.jpg" width="255" height="255">
                </picture>
                </a>
               <div class="cs-title-box">
                    <h2 class="cs-h2">Ce que nous sommes</h2>
                </div>
            </li>
            <!-- Painting 3 -->
            <li class="cs-item cs-item-3">
                <a href="/assets/images/laroue/fullscreen/Chemins_separes.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/laroue/Chemins_separes.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/laroue/Chemins_separes.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/laroue/Chemins_separes.webp" alt="Bercement 2" width="255" height="255">
                </picture>
                </a>
               <div class="cs-title-box">
                    <h2 class="cs-h2">Chemins separés</h2>
                </div>
            </li>
            <!-- Painting 4 -->
            <li class="cs-item cs-item-4">
                <a href="/assets/images/laroue/fullscreen/Dame_du_temps_jadis.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/laroue/Dame_du_temps_jadis.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/laroue/Dame_du_temps_jadis.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/laroue/Dame_du_temps_jadis.webp" alt="Dame_du_temps_jadis" width="255" height="255">
                </picture>
                </a>
               <div class="cs-title-box">
                    <h2 class="cs-h2">Dame du temps jadis</h2>
                </div>
            </li>
            <!-- Painting 5 -->
            <li class="cs-item cs-item-5">
                <a href="/assets/images/laroue/fullscreen/La_maman_du_ciel.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/laroue/La_maman_du_ciel.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/laroue/La_maman_du_ciel.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/laroue/La_maman_du_ciel.webp" alt="La_maman_du_ciel" width="255" height="255">
                </picture>
                </a>
               <div class="cs-title-box">
                    <h2 class="cs-h2">La maman du ciel</h2>
                </div>
            </li>
            <!-- Painting 6 -->
            <li class="cs-item cs-item-6">
                <a href="/assets/images/laroue/fullscreen/La_roue_des_annees_2.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/laroue/La_roue_des_annees_2.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/laroue/La_roue_des_annees_2.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/laroue/La_roue_des_annees_2.webp" alt="Dentelles de l'enfance" width="255" height="255">
                </picture>
                </a>
               <div class="cs-title-box">
                    <h2 class="cs-h2">La roue des années 2</h2>
                </div>
            </li>
            <!-- Painting 7 -->
            <li class="cs-item cs-item-7">
                <a href="/assets/images/laroue/fullscreen/La_roue_des_années.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/laroue/La_roue_des_années.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/laroue/La_roue_des_années.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/laroue/La_roue_des_années.webp" alt="Fragmentsdemémoire" width="255" height="255">
                </picture>
                </a>
               <div class="cs-title-box">
                    <h2 class="cs-h2">La roue des années</h2>
                </div>
            </li>
            <!-- Painting 8 -->
            <li class="cs-item cs-item-8">
                <a href="/assets/images/laroue/fullscreen/Vie_et_mémoire.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/laroue/Vie_et_mémoire.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/laroue/Vie_et_mémoire.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/laroue/Vie_et_mémoire.webp" alt="Vie_et_mémoire" width="255" height="255">
                </picture>
                </a>
               <div class="cs-title-box">
                    <h2 class="cs-h2">Vie et mémoire</h2>
                </div>
            </li>
            <!-- Painting 9 -->
            <li class="cs-item cs-item-9">
                <a href="/assets/images/laroue/fullscreen/Meandres_des_souvenirs.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/laroue/Meandres_des_souvenirs.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/laroue/Meandres_des_souvenirs.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/laroue/Meandres_des_souvenirs.webp" alt="Meandres_des_souvenirs" width="529" height="256">
                </picture>
                </a>
               <div class="cs-title-box">
                    <h2 class="cs-h2">Méandres des souvenirs</h2>
                </div>
            </li>
            <!-- Painting 10 -->
            <li class="cs-item cs-item-10">
                <a href="/assets/images/laroue/fullscreen/Memoires.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/laroue/Memoires.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/laroue/Memoires.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/laroue/Memoires.webp" alt="Memoires.jpg" width="255" height="255">
                </picture>
                </a>
               <div class="cs-title-box">
                    <h2 class="cs-h2">Mémoires</h2>
                </div>
            </li>
            <!-- Painting 11 -->
            <li class="cs-item cs-item-11">
                <a href="/assets/images/laroue/fullscreen/Seloigner.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/laroue/Seloigner.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/laroue/Seloigner.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/laroue/Seloigner.webp" alt="Seloigner" width="255" height="255">
                </picture>
                </a>
               <div class="cs-title-box">
                    <h2 class="cs-h2">S'éloigner</h2>
                </div>
            </li>
            <li class="cs-item cs-item-12">
                <a href="/assets/images/laroue/fullscreen/Tentation_de_nature.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/laroue/Tentation_de_nature.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/laroue/Tentation_de_nature.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/laroue/Tentation_de_nature.webp" alt="Tentation_de_nature width="255" height="255">
                </picture>
                </a>
               <div class="cs-title-box">
                    <h2 class="cs-h2">Ilots d'enfance</h2>
                </div>
            </li> 
            <!-- Painting 13 -->
            <li class="cs-item cs-item-13">
                <a href="/assets/images/laroue/fullscreen/Tentation_de_nature.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/laroue/Tentation_de_nature.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/laroue/Tentation_de_nature.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/laroue/Tentation_de_nature.webp" alt="Tentation_de_nature" width="255" height="255">
                </picture>
                </a>
               <div class="cs-title-box">
                    <h2 class="cs-h2">Tentation de nature</h2>
                </div>
            </li>
            <!-- Painting 14 -->
            <li class="cs-item cs-item-14">
                <a href="/assets/images/laroue/fullscreen/Vie_de_papillons.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/laroue/Vie_de_papillons.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/laroue/Vie_de_papillons.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/laroue/Vie_de_papillons.webp" alt="Vie_de_papillons" width="255" height="255">
                </picture>
                </a>
               <div class="cs-title-box">
                    <h2 class="cs-h2">Vie de papillons</h2>
                </div>
            </li>
            <!-- white line 1 -->
            <li class="cs-item cs-item-15">
                <p></p>
            </li>
            <!-- white line 2 -->
            <li class="cs-item cs-item-16">
                <p></p>
            </li>
            <!-- white line 3 -->
            <li class="cs-item cs-item-17">
                <p></p>
            </li>
        </ul>
    </div>
</section>


                                

{% endblock %}