---
title: 'Lailleurs | Paintings by Maeve | Paris'
headerTitle: "6. L'ailleurs des images"
description: 'Meta description for the page'
preloadImg: '/assets/images/lailleurs/fond.jpg'
permalink: 'lailleurs/'
eleventyNavigation:
    key: Lailleurs
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/lailleurs.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                  Gallery                     -->
<!-- ============================================ -->
<section id="gallery-maeve">
    <div class="cs-container">
        <ul class="cs-image-group">
            <!-- Painting 1 -->
            <li class="cs-item cs-item-1">
                <a href="/assets/images/lailleurs/absente.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/lailleurs/absente.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/lailleurs/absente.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/lailleurs/absente.jpg" alt="absente.jpg" width="529" height="256">
                </picture>
                </a>
            </li>
            <!-- Painting 2 -->
            <li class="cs-item cs-item-2">
                <a href="/assets/images/lailleurs/AlalumièreduSud.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/lailleurs/AlalumièreduSud.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/lailleurs/AlalumièreduSud.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/lailleurs/AlalumièreduSud.jpg" alt="AlalumièreduSud.jpg" width="255" height="255">
                </picture>
                </a>
            </li>
            <!-- Painting 3 -->
            <li class="cs-item cs-item-3">
                <a href="/assets/images/lailleurs/Champdefleurs.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/lailleurs/Champdefleurs.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/lailleurs/Champdefleurs.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/lailleurs/Champdefleurs.jpg" alt="Champdefleurs" width="255" height="255">
                </picture>
                </a>
            </li>
            <!-- Painting 4 -->
            <li class="cs-item cs-item-4">
                <a href="/assets/images/lailleurs/Dilution.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/lailleurs/Dilution.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/lailleurs/Dilution.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/lailleurs/Dilution.jpg" alt="Dilution" width="255" height="255">
                </picture>
                </a>
            </li>
            <!-- Painting 5 -->
            <li class="cs-item cs-item-5">
                <a href="/assets/images/lailleurs/Empreintes_vénitiennes.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/lailleurs/Empreintes_vénitiennes.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/lailleurs/Empreintes_vénitiennes.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/lailleurs/Empreintes_vénitiennes.jpg" alt="Empreintes_vénitiennes" width="255" height="255">
                </picture>
                </a>
            </li>
            <!-- Painting 6 -->
            <li class="cs-item cs-item-6">
                <a href="/assets/images/lailleurs/Euphorie_à_la_FIAC.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/lailleurs/Euphorie_à_la_FIAC.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/lailleurs/Euphorie_à_la_FIAC.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/lailleurs/Euphorie_à_la_FIAC.jpg" alt="Euphorie_à_la_FIAC" width="255" height="255">
                </picture>
                </a>
            </li>
            <!-- Painting 7 -->
            <li class="cs-item cs-item-7">
                <a href="/assets/images/lailleurs/Méandres_liquides.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/lailleurs/Méandres_liquides.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/lailleurs/Méandres_liquides.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/lailleurs/Méandres_liquides.jpg" alt="Méandres_liquides" width="255" height="255">
                </picture>
                </a>
            </li>
            <!-- Painting 8 -->
            <li class="cs-item cs-item-8">
                <a href="/assets/images/lailleurs/Multiples_reflets.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/lailleurs/Multiples_reflets.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/lailleurs/Multiples_reflets.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/lailleurs/Multiples_reflets.jpg" alt="Multiples_reflets" width="255" height="255">
                </picture>
                </a>
            </li>
            <!-- Painting 9 -->
            <li class="cs-item cs-item-9">
                <a href="/assets/images/lailleurs/Pensées_de_voyage.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/lailleurs/Pensées_de_voyage.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/lailleurs/Pensées_de_voyage.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/lailleurs/Pensées_de_voyage.jpg" alt="Pensées_de_voyage" width="255" height="255">
                </picture>
                </a>
            </li>
            <!-- Painting 10 -->
            <li class="cs-item cs-item-10">
                <a href="/assets/images/lailleurs/Presquici_et_ailleurs.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/lailleurs/Presquici_et_ailleurs.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/lailleurs/Presquici_et_ailleurs.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/lailleurs/Presquici_et_ailleurs.jpg" alt="Presquici_et_ailleurs" width="255" height="255">
                </picture>
                </a>
            </li>
            <!-- Painting 11 -->
            <li class="cs-item cs-item-11">
                <a href="/assets/images/lailleurs/Quisommesnous.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/lailleurs/Quisommesnous.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/lailleurs/Quisommesnous.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/lailleurs/Quisommesnous.jpg" alt="Quisommesnous" width="255" height="255">
                </picture>
                </a>
            </li>
            <!-- Painting 12 -->
            <li class="cs-item cs-item-12">
                <a href="/assets/images/lailleurs/Sévader.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/lailleurs/Sévader.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/lailleurs/Sévader.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/lailleurs/Sévader.jpg" alt="Sévader" width="255" height="255">
                </picture>
                </a>
            </li>
            <!-- Painting 13 -->
            <li class="cs-item cs-item-13">
                <a href="/assets/images/lailleurs/Tourmente_des_reliefs.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/lailleurs/Tourmente_des_reliefs.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/lailleurs/Tourmente_des_reliefs.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/lailleurs/Tourmente_des_reliefs.jpg" alt="Tourmente_des_reliefs" width="255" height="255">
                </picture>
                </a>
            </li>
            <!-- White Line 1 -->
            <li class="cs-item cs-item-14 cs-hide-on-mobile">
                <p></p>
            </li>
            <!-- White Line 2 -->
            <li class="cs-item cs-item-15 cs-hide-on-mobile">
                <p></p>
            </li>
            <!-- White Line 3 -->
            <li class="cs-item cs-item-16 cs-hide-on-mobile">
                <p></p>
            </li>
            <!-- White Line 4 -->
            <li class="cs-item cs-item-17 cs-hide-on-mobile">
                <p></p>
            </li>
            <!-- White box 1 -->
            <li class="cs-item cs-item-18 cs-hide-on-mobile">
                <p></p>
            </li>
        </ul>
    </div>
</section>


                                

{% endblock %}