---
title: 'L''ailleurs | Paintings by Maeve | Paris'
headerTitle: "6. L'ailleurs des images"
description: 'Meta description for the page'
preloadImg: '/assets/images/lailleurs/fond.jpg'
permalink: 'lailleurs/'
eleventyNavigation:
    key: Lailleurs
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/lailleurs.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                  Gallery                     -->
<!-- ============================================ -->
<section id="gallery-maeve">
    <div class="cs-container">
        <ul class="cs-image-group">
            <!-- Painting 1 -->
            <li class="cs-item cs-item-1">
                <a href="/assets/images/lailleurs/fullscreen/absente.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/lailleurs/absente.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/lailleurs/absente.webp">
                        <img loading="preload" decoding="async" src="/assets/images/lailleurs/absente.webp" alt="absente.jpg" width="529" height="256">
                </picture>
                </a>
               <div class="cs-title-box">
                    <h2 class="cs-h2">Absente</h2>
                </div>
            </li>
            <!-- Painting 2 -->
            <li class="cs-item cs-item-2">
                <a href="/assets/images/lailleurs/fullscreen/AlalumièreduSud.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/lailleurs/AlalumièreduSud.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/lailleurs/AlalumièreduSud.webp">
                    <img loading="preload" decoding="async" src="/assets/images/lailleurs/AlalumièreduSud.webp" alt="AlalumièreduSud.jpg" width="255" height="255">
                </picture>
                </a>
               <div class="cs-title-box">
                    <h2 class="cs-h2">A la lumière du Sud</h2>
                </div>
            </li>
            <!-- Painting 3 -->
            <li class="cs-item cs-item-3">
                <a href="/assets/images/lailleurs/fullscreen/Champdefleurs.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/lailleurs/Champdefleurs.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/lailleurs/Champdefleurs.webp">
                    <img aria-hidden="true" loading="preload" decoding="async" src="/assets/images/lailleurs/Champdefleurs.webp" alt="Champdefleurs" width="255" height="255">
                </picture>
                </a>
               <div class="cs-title-box">
                    <h2 class="cs-h2">Champ de fleurs</h2>
                </div>
            </li>
            <!-- Painting 4 -->
            <li class="cs-item cs-item-4">
                <a href="/assets/images/lailleurs/fullscreen/Dilution.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/lailleurs/Dilution.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/lailleurs/Dilution.webp">
                    <img aria-hidden="true" loading="preload" decoding="async" src="/assets/images/lailleurs/Dilution.webp" alt="Dilution" width="255" height="255">
                </picture>
                </a>
               <div class="cs-title-box">
                    <h2 class="cs-h2">Dilution</h2>
                </div>
            </li>
            <!-- Painting 5 -->
            <li class="cs-item cs-item-5">
                <a href="/assets/images/lailleurs/fullscreen/Empreintes_vénitiennes.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/lailleurs/Empreintes_vénitiennes.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/lailleurs/Empreintes_vénitiennes.webp">
                    <img aria-hidden="true" loading="preload" decoding="async" src="/assets/images/lailleurs/Empreintes_vénitiennes.webp" alt="Empreintes_vénitiennes" width="255" height="255">
                </picture>
                </a>
               <div class="cs-title-box">
                    <h2 class="cs-h2">Empreintes vénitiennes</h2>
                </div>
            </li>
            <!-- Painting 6 -->
            <li class="cs-item cs-item-6">
                <a href="/assets/images/lailleurs/fullscreen/Euphorie_à_la_FIAC.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/lailleurs/Euphorie_à_la_FIAC.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/lailleurs/Euphorie_à_la_FIAC.webp">
                    <img aria-hidden="true" loading="preload" decoding="async" src="/assets/images/lailleurs/Euphorie_à_la_FIAC.webp" alt="Euphorie_à_la_FIAC" width="255" height="255">
                </picture>
                </a>
               <div class="cs-title-box">
                    <h2 class="cs-h2">Euphorie à la FIAC</h2>
                </div>
            </li>
            <!-- Painting 7 -->
            <li class="cs-item cs-item-7">
                <a href="/assets/images/lailleurs/fullscreen/Méandres_liquides.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/lailleurs/Méandres_liquides.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/lailleurs/Méandres_liquides.webp">
                    <img aria-hidden="true" loading="preload" decoding="async" src="/assets/images/lailleurs/Méandres_liquides.webp" alt="Méandres_liquides" width="255" height="255">
                </picture>
                </a>
               <div class="cs-title-box">
                    <h2 class="cs-h2">Méandres liquides</h2>
                </div>
            </li>
            <!-- Painting 8 -->
            <li class="cs-item cs-item-8">
                <a href="/assets/images/lailleurs/fullscreen/Multiples_reflets.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/lailleurs/Multiples_reflets.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/lailleurs/Multiples_reflets.webp">
                    <img aria-hidden="true" loading="preload" decoding="async" src="/assets/images/lailleurs/Multiples_reflets.webp" alt="Multiples_reflets" width="255" height="255">
                </picture>
                </a>
               <div class="cs-title-box">
                    <h2 class="cs-h2">Multiples reflets</h2>
                </div>
            </li>
            <!-- Painting 9 -->
            <li class="cs-item cs-item-9">
                <a href="/assets/images/lailleurs/fullscreen/Pensées_de_voyage.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/lailleurs/Pensées_de_voyage.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/lailleurs/Pensées_de_voyage.webp">
                    <img aria-hidden="true" loading="preload" decoding="async" src="/assets/images/lailleurs/Pensées_de_voyage.webp" alt="Pensées_de_voyage" width="255" height="255">
                </picture>
                </a>
               <div class="cs-title-box">
                    <h2 class="cs-h2">Pensées de voyage...</h2>
                </div>
            </li>
            <!-- Painting 10 -->
            <li class="cs-item cs-item-10">
                <a href="/assets/images/lailleurs/fullscreen/Presquici_et_ailleurs.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/lailleurs/Presquici_et_ailleurs.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/lailleurs/Presquici_et_ailleurs.webp">
                    <img aria-hidden="true" loading="preload" decoding="async" src="/assets/images/lailleurs/Presquici_et_ailleurs.webp" alt="Presquici_et_ailleurs" width="255" height="255">
                </picture>
                </a>
               <div class="cs-title-box">
                    <h2 class="cs-h2">Presqu'ici et ailleurs</h2>
                </div>
            </li>
            <!-- Painting 11 -->
            <li class="cs-item cs-item-11">
                <a href="/assets/images/lailleurs/fullscreen/Quisommesnous.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/lailleurs/Quisommesnous.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/lailleurs/Quisommesnous.webp">
                    <img aria-hidden="true" loading="preload" decoding="async" src="/assets/images/lailleurs/Quisommesnous.webp" alt="Quisommesnous" width="255" height="255">
                </picture>
                </a>
               <div class="cs-title-box">
                    <h2 class="cs-h2">Qui sommes nous ?</h2>
                </div>
            </li>
            <!-- Painting 12 -->
            <li class="cs-item cs-item-12">
                <a href="/assets/images/lailleurs/fullscreen/Sévader.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/lailleurs/Sévader.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/lailleurs/Sévader.webp">
                    <img aria-hidden="true" loading="preload" decoding="async" src="/assets/images/lailleurs/Sévader.webp" alt="Sévader" width="255" height="255">
                </picture>
                </a>
               <div class="cs-title-box">
                    <h2 class="cs-h2">S'évader</h2>
                </div>
            </li>
            <!-- Painting 13 -->
            <li class="cs-item cs-item-13">
                <a href="/assets/images/lailleurs/fullscreen/Tourmente_des_reliefs.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/lailleurs/Tourmente_des_reliefs.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/lailleurs/Tourmente_des_reliefs.webp">
                    <img aria-hidden="true" loading="preload" decoding="async" src="/assets/images/lailleurs/Tourmente_des_reliefs.webp" alt="Tourmente_des_reliefs" width="255" height="255">
                </picture>
                </a>
               <div class="cs-title-box">
                    <h2 class="cs-h2">Tourmente des reliefs</h2>
                </div>
            </li>
            <!-- White Line 1 -->
            <li class="cs-item cs-item-14 cs-hide-on-mobile">
                <p></p>
            </li>
            <!-- White Line 2 -->
            <li class="cs-item cs-item-15 cs-hide-on-mobile">
                <p></p>
            </li>
            <!-- White Line 3 -->
            <li class="cs-item cs-item-16 cs-hide-on-mobile">
                <p></p>
            </li>
            <!-- White Line 4 -->
            <li class="cs-item cs-item-17 cs-hide-on-mobile">
                <p></p>
            </li>
            <!-- White box 1 -->
            <li class="cs-item cs-item-18 cs-hide-on-mobile">
                <p></p>
            </li>
        </ul>
    </div>
</section>


                                

{% endblock %}