---
title: 'Solitude | Paintings by Maeve | Paris'
headerTitle: "8. Solitude"
description: 'Meta description for the page'
preloadImg: '/assets/images/solitude/fond.jpg'
permalink: 'solitude/'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/solitude.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                  Gallery                     -->
<!-- ============================================ -->
<section id="gallery-maeve">
    <div class="cs-container">
        <ul class="cs-image-group">
            <!-- Painting 1 -->
            <li class="cs-item cs-item-1">
                <a href="/assets/images/solitude/fullscreen/Acces_interdit.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/solitude/Acces_interdit.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/solitude/Acces_interdit.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/solitude/Acces_interdit.webp" alt="Acces_interdit.jpg" width="529" height="256">
                </picture>
                </a>
               <div class="cs-title-box">
                    <h2 class="cs-h2">Accès interdit</h2>
                </div>
            </li>
            <!-- Painting 2 -->
            <li class="cs-item cs-item-2">
                <a href="/assets/images/solitude/fullscreen/Apres_la_fete.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/solitude/Apres_la_fete.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/solitude/Apres_la_fete.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/solitude/Apres_la_fete.webp" alt="Apres_la_fete.jpg" width="255" height="255">
                </picture>
                </a>
               <div class="cs-title-box">
                    <h2 class="cs-h2">Après la fête</h2>
                </div>
            </li>
            <!-- Painting 3 -->
            <li class="cs-item cs-item-3">
                <a href="/assets/images/solitude/fullscreen/Dispersion.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/solitude/Dispersion.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/solitude/Dispersion.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/solitude/Dispersion.webp" alt="Dispersion" width="255" height="255">
                </picture>
                </a>
               <div class="cs-title-box">
                    <h2 class="cs-h2">Dispersion</h2>
                </div>
            </li>
            <!-- Painting 4 -->
            <li class="cs-item cs-item-4">
                <a href="http://localhost:8080/assets/images/solitude/Nuages_sur_la_mariee.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/solitude/Nuages_sur_la_mariee.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/solitude/Nuages_sur_la_mariee.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/solitude/Nuages_sur_la_mariee.webp" alt="Nuages_sur_la_mariee" width="255" height="255">
                </picture>
                </a>
               <div class="cs-title-box">
                    <h2 class="cs-h2">Nuages sur la mariée</h2>
                </div>
            </li>
            <!-- Painting 5 -->
            <li class="cs-item cs-item-5">
                <a href="/assets/images/solitude/fullscreen/Photo_a_la_derive.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/solitude/Photo_a_la_derive.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/solitude/Photo_a_la_derive.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/solitude/Photo_a_la_derive.webp" alt="Photo_a_la_derive" width="255" height="255">
                </picture>
                </a>
               <div class="cs-title-box">
                    <h2 class="cs-h2">Photo à la dérive</h2>
                </div>
            </li>
            <!-- Painting 6 -->
            <li class="cs-item cs-item-6">
                <a href="/assets/images/solitude/fullscreen/Solitude_habitee.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/imagesSolitudes/souvenirs-meles/Solitude_habitee.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/solitude/Solitude_habitee.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/solitude/Solitude_habitee.webp" alt="Solitude_habitee" width="255" height="255">
                </picture>
                </a>
               <div class="cs-title-box">
                    <h2 class="cs-h2">Solitude habitée</h2>
                </div>
            </li>
            <!-- Painting 7 -->
            <li class="cs-item cs-item-7">
                <a href="/assets/images/solitude/fullscreen/Solitudes.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/solitude/Solitudes.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/solitude/Solitudes.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/solitude/Solitudes.webp" alt="Solitudes" width="255" height="255">
                </picture>
                </a>
               <div class="cs-title-box">
                    <h2 class="cs-h2">Solitudes</h2>
                </div>
            </li>
            <!-- Painting 8 -->
            <li class="cs-item cs-item-8">
                <a href="/assets/images/solitude/fullscreen/Tomber_dans_la_nasse.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/solitude/Tomber_dans_la_nasse.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/solitude/Tomber_dans_la_nasse.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/solitude/Tomber_dans_la_nasse.webp" alt="Tomber_dans_la_nasse" width="255" height="255">
                </picture>
                </a>
               <div class="cs-title-box">
                    <h2 class="cs-h2">Tomber dans la nasse</h2>
                </div>
            </li>
            <!-- Painting 9 -->
            <li class="cs-item cs-item-9">
                <a href="/assets/images/solitude/fullscreen/Visage_voile.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/solitude/Visage_voile.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/solitude/Visage_voile.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/solitude/Visage_voile.webp" alt="Visage_voile" width="255" height="255">
                </picture>
                </a>
               <div class="cs-title-box">
                    <h2 class="cs-h2">Visage voilé</h2>
                </div>
            </li>
            <!-- Text -->
            <li class="cs-item cs-item-10">
                <p class="cs-text">
                    Mémoires fugitives, masques urbains, croisements éphémères où se mêlent les solitudes, tant de visages indistincts, de regards en fuite déjà disparus, anonymes parmi les anonymes, comment exister, se retrouver, les retrouver ?
                </p>
            </li>
        </ul>
    </div>
</section>


                                

{% endblock %}