---
title: 'Souffrances | Paintings by Maeve | Paris'
headerTitle: "9. Souffrances"
description: 'Meta description for the page'
preloadImg: '/assets/images/souffrances/fond.jpg'
permalink: 'souffrances/'
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/souffrances.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                  Gallery                     -->
<!-- ============================================ -->
<section id="gallery-maeve">
    <div class="cs-container">
        <ul class="cs-image-group">
            <!-- Painting 1 -->
            <li class="cs-item cs-item-1">
                <a href="/assets/images/souffrances/fullscreen/Abandonne.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/souffrances/Abandonne.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/souffrances/Abandonne.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/souffrances/Abandonne.webp" alt="Abandonne" width="529" height="256">
                </picture>
                </a>
               <div class="cs-title-box">
                    <h2 class="cs-h2">Abandonné</h2>
                </div>
            </li>
            <!-- Painting 2 -->
            <li class="cs-item cs-item-2">
                <a href="/assets/images/souffrances/fullscreen/Emmurees.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/souffrances/Emmurees.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/souffrances/Emmurees.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/souffrances/Emmurees.webp" alt="Emmurees.jpg" width="255" height="255">
                </picture>
                </a>
               <div class="cs-title-box">
                    <h2 class="cs-h2">Emmurées</h2>
                </div>
            </li>
            <!-- Painting 3 -->
            <li class="cs-item cs-item-3">
                <a href="/assets/images/souffrances/fullscreen/Le_tumutle_du_monde.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/souffrances/Le_tumutle_du_monde.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/souffrances/Le_tumutle_du_monde.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/souffrances/Le_tumutle_du_monde.webp" alt="Le_tumutle_du_monde" width="255" height="255">
                </picture>
                </a>
               <div class="cs-title-box">
                    <h2 class="cs-h2">Le tumulte du monde</h2>
                </div>
            </li>
            <!-- Painting 4 -->
            <li class="cs-item cs-item-4">
                <a href="http://localhost:8080/assets/images/souffrances/Souffrances.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/souffrances/Souffrances.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/souffrances/Souffrances.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/souffrances/Souffrances.webp" alt="Souffrances" width="255" height="255">
                </picture>
                </a>
               <div class="cs-title-box">
                    <h2 class="cs-h2">Souffrances</h2>
                </div>
            </li>
            <!-- Painting 5 -->
            <li class="cs-item cs-item-5">
                <a href="/assets/images/souffrances/fullscreen/Se_souvenir.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/souffrances/Se_souvenir.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/souffrances/Se_souvenir.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/souffrances/Se_souvenir.webp" alt="Se_souvenir" width="255" height="255">
                </picture>
                </a>
               <div class="cs-title-box">
                    <h2 class="cs-h2">Se souvenir</h2>
                </div>
            </li>
            <!-- Painting 5b -->
            <li class="cs-item cs-item-5b">
                <a href="/assets/images/souffrances/fullscreen/Oiseau de mauvaise augure.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/souffrances/Oiseau de mauvaise augure.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/souffrances/Oiseau de mauvaise augure.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/souffrances/Oiseau de mauvaise augure.webp" alt="Oiseau de mauvaise augure" width="255" height="255">
                </picture>
                </a>
               <div class="cs-title-box">
                    <h2 class="cs-h2">Oiseau de mauvaise augure</h2>
                </div>
            </li>
            <!-- Text -->
            <li class="cs-item cs-item-6">
                <p class="cs-text">
                    Tant de vies réduites au silence, niées, sacrifiées, arrachées à elles-mêmes avant même 
                    d’avoir pu exister, dessiner l’écho de leur néant, 
                    le leur, le nôtre, et celui de toute vie qui aurait dû être...
                </p>
            </li>
            <!-- black line1 -->
            <li class="cs-item cs-item-7 cs-hide-on-mobile">
                <p class="cs-text">         
                </p>
            </li>
            <!-- black line2 -->
            <li class="cs-item cs-item-8 cs-hide-on-mobile">
                <p class="cs-text">         
                </p>
            </li>
            <!-- black line3 -->
            <li class="cs-item cs-item-9 cs-hide-on-mobile">
                <p class="cs-text">         
                </p>
            </li>
        </ul>
    </div>
</section>


                                

{% endblock %}