---
title: 'Souvenirs mêlés | Paintings by Maeve | Paris'
headerTitle: "2. Souvenirs mêlés"
description: 'Meta description for the page'
preloadImg: '/assets/images/souvenirs-meles/fond.jpg'
permalink: 'souvenirs-meles/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Enfances
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/souvenirsmeles.css">
    <link rel="stylesheet" href="/assets/css/lity.css">

{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                  Gallery                     -->
<!-- ============================================ -->
<section id="gallery-maeve">
    <div class="cs-container">
        <ul class="cs-image-group">
            <!-- Painting 1 -->
            <li class="cs-item cs-item-1">
                <a href="/assets/images/souvenirs-meles/1.Refugesdupasse.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/souvenirs-meles/1.Refugesdupasse.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/souvenirs-meles/1.Refugesdupasse.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/souvenirs-meles/1.Refugesdupasse.jpg" alt="1.Refugesdupasse.jpg" width="529" height="256">
                </picture>
                </a>
            </li>
            <!-- Painting 2 -->
            <li class="cs-item cs-item-2">
                <a href="/assets/images/souvenirs-meles/2.Soustonmasque.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/souvenirs-meles/2.Soustonmasque.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/souvenirs-meles/2.Soustonmasque.jpg">
                    <img loading="lazy" decoding="async" src="/assets/images/souvenirs-meles/2.Soustonmasque.jpg" alt="2.Soustonmasque.jpg" width="255" height="255">
                </picture>
                </a>
            </li>
            <!-- Painting 3 -->
            <li class="cs-item cs-item-3">
                <a href="/assets/images/souvenirs-meles/3.Retenirletemps.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/souvenirs-meles/3.Retenirletemps.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/souvenirs-meles/3.Retenirletemps.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/souvenirs-meles/3.Retenirletemps.jpg" alt="Bercement 2" width="255" height="255">
                </picture>
                </a>
            </li>
            <!-- Painting 4 -->
            <li class="cs-item cs-item-4">
                <a href="http://localhost:8080/assets/images/souvenirs-meles/4.Attente.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/souvenirs-meles/4.Attente.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/souvenirs-meles/4.Attente.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/souvenirs-meles/4.Attente.jpg" alt="4.Attente" width="255" height="255">
                </picture>
                </a>
            </li>
            <!-- Painting 5 -->
            <li class="cs-item cs-item-5">
                <a href="/assets/images/souvenirs-meles/5.Sesouvenirdetoi.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/souvenirs-meles/5.Sesouvenirdetoi.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/souvenirs-meles/5.Sesouvenirdetoi.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/souvenirs-meles/5.Sesouvenirdetoi.jpg" alt="5.Sesouvenirdetoi" width="255" height="255">
                </picture>
                </a>
            </li>
            <!-- Painting 6 -->
            <li class="cs-item cs-item-6">
                <a href="/assets/images/souvenirs-meles/6.Blackandwhite.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/souvenirs-meles/6.Blackandwhite.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/souvenirs-meles/6.Blackandwhite.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/souvenirs-meles/6.Blackandwhite.jpg" alt="Dentelles de l'enfance" width="255" height="255">
                </picture>
                </a>
            </li>
            <!-- Painting 7 -->
            <li class="cs-item cs-item-7">
                <a href="/assets/images/souvenirs-meles/7.Fragmentsdemémoire.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/souvenirs-meles/7.Fragmentsdemémoire.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/souvenirs-meles/7.Fragmentsdemémoire.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/souvenirs-meles/7.Fragmentsdemémoire.jpg" alt="Fragmentsdemémoire" width="255" height="255">
                </picture>
                </a>
            </li>
            <!-- Painting 8 -->
            <li class="cs-item cs-item-8">
                <a href="/assets/images/souvenirs-meles/8.Thelastcarnaval.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/souvenirs-meles/8.Thelastcarnaval.jpg">
                    <source media="(min-width: 601px)" srcset="/assets/images/souvenirs-meles/8.Thelastcarnaval.jpg">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/souvenirs-meles/8.Thelastcarnaval.jpg" alt="8.Thelastcarnaval" width="255" height="255">
                </picture>
                </a>
            </li>
            <!-- Text -->
            <li class="cs-item cs-item-9">
                <p class="cs-text">
                        Partir à sa propre rencontre, celle de son passé, réminiscences d’instants 
                        ressentis, fantasmés, vécus ou imaginés, les figer dans le temps et l’espace, 
                        comme on épingle des papillons de peur de les voir disparaître à jamais...
                        Course inexorable du temps, délitant lentement tout ce qu’elle entraîne, 
                        nous mettant à distance de nos horizons passés même les plus sensibles.
                </p>
                </div>
            </li>
        </ul>
    </div>
</section>


                                

{% endblock %}