---
title: 'Tendresses et danse | Paintings by Maeve | Paris'
headerTitle: "10. Tendresses et danse"
description: 'Meta description for the page'
preloadImg: '/assets/images/danse/fond.jpg'
permalink: 'tendresses-et-danse/'
eleventyNavigation:
  key: Tendresses et Danse
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/danse.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                  Gallery                     -->
<!-- ============================================ -->
<section id="gallery-maeve">
    <div class="cs-container">
        <ul class="cs-image-group">
            <!-- Painting 1 -->
            <li class="cs-item cs-item-1">
                <a href="/assets/images/danse/fullscreen/Cheminer.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/danse/Cheminer.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/danse/Cheminer.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/danse/Cheminer.webp" alt="Cheminer" width="529" height="256">
                </picture>
                </a>
                <div class="cs-title-box">
                    <h2 class="cs-h2">Cheminer</h2>
                </div>
            </li>
            <!-- Painting 2 -->
            <li class="cs-item cs-item-2">
                <a href="/assets/images/danse/fullscreen/Courbe_en_mouvement.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/danse/Courbe_en_mouvement.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/danse/Courbe_en_mouvement.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/danse/Courbe_en_mouvement.webp" alt="Courbe_en_mouvement.jpg" width="255" height="255">
                </picture>
                </a>
                <div class="cs-title-box">
                    <h2 class="cs-h2">Courbe en mouvement</h2>
                </div>
            </li>
            <!-- Painting 3 -->
            <li class="cs-item cs-item-3">
                <a href="/assets/images/danse/fullscreen/Courbee.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/danse/Courbee.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/danse/Courbee.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/danse/Courbee.webp" alt="Courbee" width="255" height="255">
                </picture>
                </a>
                <div class="cs-title-box">
                    <h2 class="cs-h2">Courbée</h2>
                </div>
            </li>
            <!-- Painting 4 -->
            <li class="cs-item cs-item-4">
                <a href="/assets/images/danse/fullscreen/Danse_lente.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/danse/Danse_lente.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/danse/Danse_lente.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/danse/Danse_lente.webp" alt="Danse_lente" width="255" height="255">
                </picture>
                </a>
                <div class="cs-title-box">
                    <h2 class="cs-h2">Danse lente</h2>
                </div>
            </li>
            <!-- Painting 5 -->
            <li class="cs-item cs-item-5">
                <a href="/assets/images/danse/fullscreen/Ecartelement.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/danse/Ecartelement.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/danse/Ecartelement.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/danse/Ecartelement.webp" alt="Ecartelement" width="255" height="255">
                </picture>
                </a>
                <div class="cs-title-box">
                    <h2 class="cs-h2">Ecartèlement</h2>
                </div>
            </li>
            <!-- Painting 6 -->
            <li class="cs-item cs-item-6">
                <a href="/assets/images/danse/fullscreen/Torsion.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/danse/Torsion.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/danse/Torsion.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/danse/Torsion.webp" alt="Torsion" width="255" height="255">
                </picture>
                </a>
                <div class="cs-title-box">
                    <h2 class="cs-h2">Torsion</h2>
                </div>
            </li>
            <!-- Painting 6a -->
            <li class="cs-item cs-item-6a">
                <a href="/assets/images/danse/fullscreen/Maternité double.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/danse/Maternité double.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/danse/Maternité double.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/danse/Maternité double.webp" alt="Maternité double" width="255" height="255">
                </picture>
                </a>
                <div class="cs-title-box">
                    <h2 class="cs-h2">Maternité double</h2>
                </div>
            </li>
            <!-- Painting 6b -->
            <li class="cs-item cs-item-6b">
                <a href="/assets/images/danse/fullscreen/Autre courbe.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/danse/Autre courbe.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/danse/Autre courbe.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/danse/Autre courbe.webp" alt="Autre courbe" width="255" height="255">
                </picture>
                </a>
                <div class="cs-title-box">
                    <h2 class="cs-h2">Autre courbe</h2>
                </div>
            </li>
            <!-- Painting 6c -->
            <li class="cs-item cs-item-6c">
                <a href="/assets/images/danse/fullscreen/Tentative d envol.jpg" data-lity>
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/danse/Tentative d envol.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/danse/Tentative d envol.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/danse/Tentative d envol.webp" alt="Tentative d envol" width="255" height="255">
                </picture>
                </a>
                <div class="cs-title-box">
                    <h2 class="cs-h2">Tentative d'envol</h2>
                </div>
            </li>
            <!-- Text -->
            <li class="cs-item cs-item-7">
                <p class="cs-text">
                    Courbes et volutes esquissant dans l’espace caresses, et frôlements, telles ailes d’ oiseaux à l’envol...
                    Echappées possibles...
                </p>
            </li>
            <!-- white line1 -->
            <li class="cs-item cs-item-8">
                <p class="cs-text">         
                </p>
            </li>
            <!-- white line2 -->
            <li class="cs-item cs-item-9">
                <p class="cs-text">         
                </p>
            </li>
            <!-- white line3 -->
            <li class="cs-item cs-item-10">
                <p class="cs-text">         
                </p>
            </li>
            <!-- white line4 -->
            <li class="cs-item cs-item-11">
                <p class="cs-text">         
                </p>
            </li>
        </ul>
    </div>
</section>


                                

{% endblock %}