/*-- -------------------------- -->
<---     Enfances Gallery       -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  :root {
    background-color: #D7BFAE;
  }
  #gallery-maeve .cs-item-1 {
    grid-column: 1 / span 24;
    grid-row: 1 / span 7;
  }
  #gallery-maeve .cs-item-1 .cs-picture img {
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1.597;
  }
  #gallery-maeve .cs-item-2 {
    grid-column: 25 / span 12;
    grid-row: 1 / span 7;
  }
  #gallery-maeve .cs-item-2 .cs-picture img {
    height: 100%;
    object-fit: cover;
    aspect-ratio: 0.79;
  }
  #gallery-maeve .cs-item-3 {
    grid-column: 1 / span 18;
    grid-row: 8 / span 7;
  }
  #gallery-maeve .cs-item-4 {
    grid-column: 19 / span 18;
    grid-row: 8 / span 7;
  }
  #gallery-maeve .cs-item-4 .cs-picture img {
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1.465;
  }
  #gallery-maeve .cs-item-5 {
    grid-column: 19 / span 18;
    grid-row: 15 / span 7;
  }
  #gallery-maeve .cs-item-5 .cs-picture img {
    height: 100%;
    object-fit: cover;
    aspect-ratio: 0.667;
  }
  #gallery-maeve .cs-item-6 {
    grid-column: 1 / span 18;
    grid-row: 15 / span 7;
  }
  #gallery-maeve .cs-item-7 {
    grid-column: 19 / span 18;
    grid-row: 22 / span 7;
  }
  #gallery-maeve .cs-item-8 {
    grid-column: 1 / span 18;
    grid-row: 22 / span 7;
  }
  #gallery-maeve .cs-item-9 {
    grid-column: 19 / span 18;
    grid-row: 29 / span 7;
  }
  #gallery-maeve .cs-item-10 {
    grid-column: 1 / span 18;
    grid-row: 29 / span 7;
  }
  #gallery-maeve .cs-item-11 {
    grid-column: 19 / span 18;
    grid-row: 36 / span 7;
  }
  #gallery-maeve .cs-item-12 {
    grid-column: 1 / span 18;
    grid-row: 36 / span 7;
  }
  #gallery-maeve .cs-item-13,
  #gallery-maeve .cs-item-14,
  #gallery-maeve .cs-item-15,
  #gallery-maeve .cs-item-16,
  #gallery-maeve .cs-item-17 {
    display: none;
  }
}
/* ----------- Tablet - 768px --------------*/
@media only screen and (min-width: 48rem) {
  #cs-navigation .cs-logo {
    font-size: clamp(1.5rem, 3vw, 3rem);
    margin: 0 20%;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  #gallery-maeve .cs-image-group {
    grid-template-columns: repeat(71, 1fr);
    grid-template-rows: repeat(48, 1.5vw);
  }
  #gallery-maeve .cs-item-2 {
    grid-column: 1 / span 8;
    grid-row: 7 / span 12;
  }
  #gallery-maeve .cs-item-1 {
    grid-column: 9 / span 16;
    grid-row: 1 / span 11;
  }
  #gallery-maeve .cs-item-1 .cs-picture img {
    height: 100%;
    object-fit: cover;
    aspect-ratio: unset;
  }
  #gallery-maeve .cs-item-3 {
    grid-column: 9 / span 16;
    grid-row: 12 / span 11;
  }
  #gallery-maeve .cs-item-3 .cs-picture img {
    aspect-ratio: unset;
  }
  #gallery-maeve .cs-item-4 {
    grid-column: 9 / span 16;
    grid-row: 23 / span 12;
  }
  #gallery-maeve .cs-item-4 .cs-picture img {
    aspect-ratio: unset;
  }
  #gallery-maeve .cs-item-11 {
    grid-column: 38 / span 16;
    grid-row: 1 / span 11;
  }
  #gallery-maeve .cs-item-11 .cs-picture img {
    aspect-ratio: unset;
  }
  #gallery-maeve .cs-item-5 {
    grid-column: 38 / span 7;
    grid-row: 12 / span 11;
  }
  #gallery-maeve .cs-item-5 .cs-picture img {
    height: 100%;
    object-fit: cover;
    aspect-ratio: 0.597;
  }
  #gallery-maeve .cs-item-7 {
    grid-column: 38 / span 16;
    grid-row: 23 / span 12;
  }
  #gallery-maeve .cs-item-7 .cs-picture img {
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1.31;
  }
  #gallery-maeve .cs-item-17 {
    display: block;
    background-color: black;
    grid-column: 45 / span 2;
    grid-row: 12 / span 11;
  }
  #gallery-maeve .cs-item-6 {
    grid-column: 47 / span 7;
    grid-row: 12 / span 11;
  }
  #gallery-maeve .cs-item-6 .cs-picture img {
    height: 100%;
    object-fit: cover;
    aspect-ratio: 0.597;
  }
  #gallery-maeve .cs-item-9 {
    grid-column: 56 / span 16;
    grid-row: 1 / span 11;
  }
  #gallery-maeve .cs-item-9 .cs-picture img {
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1.3;
  }
  #gallery-maeve .cs-item-10 {
    grid-column: 56 / span 16;
    grid-row: 12 / span 11;
  }
  #gallery-maeve .cs-item-10 .cs-picture img {
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1.38;
  }
  #gallery-maeve .cs-item-8 {
    grid-column: 56 / span 16;
    grid-row: 23 / span 12;
  }
  #gallery-maeve .cs-item-8 .cs-picture img {
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1.3;
  }
  #gallery-maeve .cs-item-12 {
    grid-column: 25 / span 13;
    grid-row: 1 / span 34;
  }
  #gallery-maeve .cs-item-12 .cs-picture img {
    aspect-ratio: unset;
  }
  #gallery-maeve .cs-item-13 {
    display: block;
    background-color: black;
    grid-column: 54 / span 2;
    grid-row: 1 / span 34;
  }
  #gallery-maeve .cs-item-14 {
    display: block;
    background-color: white;
    grid-column: 54 / span 2;
    grid-row: 10 / span 2;
    margin-top: 35%;
  }
  #gallery-maeve .cs-item-15 {
    display: block;
    background-color: white;
    grid-column: 54 / span 2;
    grid-row: 21 / span 2;
    margin-top: 1.5%;
    border-top: 4px solid black;
  }
  #gallery-maeve .cs-item-16 {
    display: block;
    background-color: white;
    grid-column: 54 / span 2;
    grid-row: 32 / span 3;
    margin-top: 33%;
    border-top: 4px solid black;
  }
  #gallery-maeve .cs-text {
    font-size: clamp(0.65rem, 1vw, 1rem);
  }
}
