/*-- -------------------------- -->
<---     Enfances Gallery       -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #apropos {
    display: none;
  }
  #cs-navigation {
    border: var(--borderWidth4) solid black;
  }
  #cs-navigation .cs-logo {
    font-size: var(--MobileTitleFontSize);
    text-transform: uppercase;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
    margin: 0 auto;
  }
  #gallery-maeve {
    position: relative;
  }
  #gallery-maeve .cs-container {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #gallery-maeve .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #gallery-maeve .cs-image-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(36, 1fr);
    /* 158px - 304px */
    grid-template-rows: repeat(16, clamp(1.5rem, 12.5vw, 9rem));
    /* 8px - 20px */
    gap: 0;
  }
  #gallery-maeve .cs-item {
    background-color: white;
    border: var(--borderWidth2) solid black;
    border-bottom: var(--borderWidth4) solid black;
    list-style: none;
    width: 100%;
    margin: 0;
    grid-column: span 6;
    /* display: block; */
    position: relative;
    /* prevents image from overflowing the container on hover */
    overflow: hidden;
  }
  #gallery-maeve .cs-item:hover .cs-picture img {
    transform: scale(1.1);
  }
  #gallery-maeve .cs-item:hover .cs-h2 {
    /* Return to original position */
  }
  #gallery-maeve .cs-item:hover .cs-link {
    /* Return to original position */
    transform: translateY(0);
  }
  #gallery-maeve .cs-picture {
    display: flex;
    align-items: flex-start;
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
  #gallery-maeve .cs-picture img {
    position: relative;
    height: auto;
    width: 100%;
    object-fit: contain;
    aspect-ratio: initial;
    transition: transform 0.6s;
    border: var(--borderWidth2) solid black;
    border-bottom: var(--borderWidth4) solid black;
  }
  #gallery-maeve .cs-h2 {
    /* 14px - 20px */
    font-size: 1rem;
    line-height: 1em;
    text-align: center;
    margin: 0;
    font-weight: 400;
    color: var(--headerColor);
    display: block;
    /* starting point is 10px down from its original point */
    transition: transform 0.5s;
  }
  #gallery-maeve .cs-link {
    font-size: 0.9375rem;
    line-height: 2.875rem;
    font-weight: bold;
    text-decoration: none;
    padding: 0 1rem;
    background-color: #1a1a1a;
    color: #fff;
    border-radius: 1.4375rem;
    overflow: hidden;
    /* starting point is 10px down from its original point */
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  #gallery-maeve .cs-link:hover {
    background-color: #fff;
    color: #1a1a1a;
    cursor: pointer;
  }
  #gallery-maeve .cs-link:hover:before {
    width: 100%;
  }
  #gallery-maeve .cs-link:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    width: 0%;
    background: #fff;
    opacity: 1;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #gallery-maeve .cs-item-1 {
    grid-column: 1 / span 36;
    grid-row: 1 / span 6;
  }
  #gallery-maeve .cs-item-1 .cs-picture img {
    width: 60%;
    margin-top: 0.75rem;
    margin-bottom: 0;
    object-fit: cover;
  }
  #gallery-maeve .cs-item-2 {
    grid-column: 1 / span 36;
    grid-row: 7 / span 20;
  }
  #gallery-maeve .cs-item-2 .cs-text {
    font-size: clamp(1.5rem, 1.7vw, 1.8rem);
    max-width: 50.625rem;
  }
  #gallery-maeve .cs-item-2 h2 {
    padding: var(--textPadding);
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
  }
  #gallery-maeve .cs-item-2 p {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0;
    font-weight: 500;
  }
  #gallery-maeve .cs-item-3 {
    grid-column: 1 / span 36;
    grid-row: 27 / span 2;
  }
  #gallery-maeve .cs-item-3 .cs-text {
    max-width: unset;
    text-align: left;
  }
  #gallery-maeve .cs-item-3 p {
    font-weight: 500;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
  }
}
/* ----------- Tablet - 768px --------------*/
@media only screen and (min-width: 48rem) {
  #cs-navigation .cs-logo {
    font-size: clamp(1.5rem, 2vw, 2rem);
    padding-bottom: 2rem;
    padding-top: 1.5rem;
    margin: 0 10%;
  }
  #gallery-maeve h2 {
    /* 14px - 20px */
    font-size: clamp(1.5rem, 2vw, 2rem) !important;
  }
  #gallery-maeve .cs-image-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(46, 1fr);
    /* 158px - 304px */
    grid-template-rows: repeat(54, 1.5vw);
    gap: 0;
    border-top: 0px;
  }
  #gallery-maeve .cs-item-1 {
    grid-column: 10 / span 14;
    grid-row: 1 / span 19;
  }
  #gallery-maeve .cs-item-3 {
    grid-column: 10 / span 14;
    grid-row: 20 / span 6;
    border-bottom: var(--borderWidth8) solid black;
  }
  #gallery-maeve .cs-item-2 {
    grid-column: 24 / span 23;
    grid-row: 1 / span 25;
    border-bottom: var(--borderWidth8) solid black;
    border-right: var(--borderWidth8) solid black;
  }
}
