/*-- -------------------------- -->
<---     Enfances Gallery       -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #gallery-maeve .cs-h2 {
    padding: 0.6rem;
  }
  #gallery-maeve .cs-item-1 {
    grid-column: 1 / span 12;
    grid-row: 1 / span 7;
  }
  #gallery-maeve .cs-item-1 .cs-picture img {
    object-fit: cover;
    aspect-ratio: 0.8;
  }
  #gallery-maeve .cs-item-2 {
    grid-column: 13 / span 12;
    grid-row: 1 / span 7;
  }
  #gallery-maeve .cs-item-2 .cs-picture img {
    object-fit: cover;
    aspect-ratio: 0.8;
  }
  #gallery-maeve .cs-item-3 {
    grid-column: 25 / span 12;
    grid-row: 1 / span 7;
  }
  #gallery-maeve .cs-item-3 .cs-picture img {
    object-fit: cover;
    aspect-ratio: 0.8;
  }
  #gallery-maeve .cs-item-6 {
    grid-column: 1 / span 18;
    grid-row: 8 / span 7;
  }
  #gallery-maeve .cs-item-5 {
    grid-column: 19 / span 18;
    grid-row: 8 / span 7;
  }
  #gallery-maeve .cs-item-5 .cs-picture img {
    object-fit: cover;
    aspect-ratio: 1.57;
  }
  #gallery-maeve .cs-item-8 {
    grid-column: 1 / span 18;
    grid-row: 15 / span 7;
  }
  #gallery-maeve .cs-item-7 {
    grid-column: 19 / span 18;
    grid-row: 15 / span 7;
  }
  #gallery-maeve .cs-item-7 .cs-picture img {
    object-fit: cover;
    aspect-ratio: 1.33;
  }
  #gallery-maeve .cs-item-4b {
    grid-column: 1 / span 12;
    grid-row: 23 / span 7;
  }
  #gallery-maeve .cs-item-4b .cs-picture img {
    object-fit: cover;
    aspect-ratio: 0.743;
  }
  #gallery-maeve .cs-item-4c {
    grid-column: 13 / span 12;
    grid-row: 23 / span 7;
  }
  #gallery-maeve .cs-item-4c .cs-picture img {
    object-fit: cover;
    aspect-ratio: 0.743;
  }
  #gallery-maeve .cs-item-4 {
    grid-column: 25 / span 12;
    grid-row: 23 / span 7;
  }
  #gallery-maeve .cs-item-4 .cs-picture img {
    object-fit: cover;
    aspect-ratio: 0.743;
  }
  #gallery-maeve .cs-item-13 {
    grid-column: 1 / span 18;
    grid-row: 31 / span 7;
  }
  #gallery-maeve .cs-item-9 {
    grid-column: 19 / span 18;
    grid-row: 31 / span 7;
  }
  #gallery-maeve .cs-item-14 {
    grid-column: 1 / span 18;
    grid-row: 38 / span 7;
  }
  #gallery-maeve .cs-item-15 {
    grid-column: 19 / span 18;
    grid-row: 38 / span 7;
  }
  #gallery-maeve .cs-item-16 {
    grid-column: 19 / span 18;
    grid-row: 45 / span 7;
  }
  #gallery-maeve .cs-item-16 .cs-picture img {
    object-fit: cover;
    aspect-ratio: 1.4;
  }
  #gallery-maeve .cs-item-17 {
    grid-column: 1 / span 18;
    grid-row: 45 / span 7;
  }
  #gallery-maeve .cs-item-17 .cs-picture img {
    object-fit: cover;
    aspect-ratio: 1.4;
  }
  #gallery-maeve .cs-item-18 {
    grid-column: 19 / span 18;
    grid-row: 52 / span 7;
  }
}
/* ----------- Tablet - 768px --------------*/
@media only screen and (min-width: 48rem) {
  #cs-navigation .cs-logo {
    font-size: clamp(2.1796rem, 3.3875vw, 3.4453rem);
    margin: 0 20%;
  }
  #gallery-maeve .cs-image-group {
    grid-template-columns: repeat(44, 1fr);
    grid-template-rows: repeat(60, 1.5vw);
    border-top: 0px;
  }
  #gallery-maeve .cs-item-1 {
    grid-column: 1 / span 6;
    grid-row: 4 / span 12;
  }
  #gallery-maeve .cs-item-4 {
    grid-column: 1 / span 6;
    grid-row: 16 / span 12;
  }
  #gallery-maeve .cs-item-2 {
    grid-column: 7 / span 6;
    grid-row: 2 / span 12;
  }
  #gallery-maeve .cs-item-3 {
    grid-column: 7 / span 6;
    grid-row: 14 / span 13;
  }
  #gallery-maeve .cs-item-4b {
    grid-column: 7 / span 6;
    grid-row: 27 / span 12;
  }
  #gallery-maeve .cs-item-4c {
    grid-column: 7 / span 6;
    grid-row: 39 / span 13;
  }
  #gallery-maeve .cs-item-5 {
    grid-column: 13 / span 11;
    grid-row: 1 / span 11;
  }
  #gallery-maeve .cs-item-8 {
    grid-column: 13 / span 11;
    grid-row: 12 / span 12;
  }
  #gallery-maeve .cs-item-14 {
    grid-column: 13 / span 11;
    grid-row: 24 / span 12;
  }
  #gallery-maeve .cs-item-17 {
    grid-column: 13 / span 11;
    grid-row: 36 / span 12;
  }
  #gallery-maeve .cs-item-6 {
    grid-column: 24 / span 11;
    grid-row: 1 / span 11;
  }
  #gallery-maeve .cs-item-6 .cs-picture img {
    height: 50%;
    object-fit: cover;
    aspect-ratio: 1.56;
  }
  #gallery-maeve .cs-item-9 {
    grid-column: 24 / span 11;
    grid-row: 12 / span 12;
  }
  #gallery-maeve .cs-item-9 .cs-picture img {
    height: 50%;
    object-fit: cover;
    aspect-ratio: 1.328;
  }
  #gallery-maeve .cs-item-15 {
    grid-column: 24 / span 11;
    grid-row: 24 / span 12;
  }
  #gallery-maeve .cs-item-15 .cs-picture img {
    height: 50%;
    object-fit: cover;
    aspect-ratio: 1.3099;
  }
  #gallery-maeve .cs-item-18 {
    grid-column: 24 / span 11;
    grid-row: 36 / span 12;
  }
  #gallery-maeve .cs-item-18 .cs-picture img {
    height: 50%;
    object-fit: cover;
    aspect-ratio: 1.41;
  }
  #gallery-maeve .cs-item-7 {
    grid-column: 35 / span 11;
    grid-row: 1 / span 12;
  }
  #gallery-maeve .cs-item-13 {
    grid-column: 35 / span 11;
    grid-row: 13 / span 12;
  }
  #gallery-maeve .cs-item-16 {
    grid-column: 35 / span 11;
    grid-row: 25 / span 12;
  }
}
