/*-- -------------------------- -->
<---     Enfances Gallery       -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  :root {
    background-color: #D7BFAE;
  }
  #cs-navigation .cs-logo {
    font-size: clamp(1rem, 1vw, 1rem);
  }
  #gallery-maeve .cs-item-1 {
    grid-column: 1 / span 12;
    grid-row: 1 / span 14;
  }
  #gallery-maeve .cs-item-1 .cs-picture img {
    object-fit: cover;
    aspect-ratio: 0.8;
  }
  #gallery-maeve .cs-item-2 {
    grid-column: 13 / span 12;
    grid-row: 1 / span 14;
  }
  #gallery-maeve .cs-item-2 .cs-picture img {
    object-fit: cover;
    aspect-ratio: 0.8;
  }
  #gallery-maeve .cs-item-6 {
    grid-column: 25 / span 12;
    grid-row: 1 / span 14;
  }
  #gallery-maeve .cs-item-6 .cs-picture img {
    object-fit: cover;
    aspect-ratio: 0.8;
  }
  #gallery-maeve .cs-item-3 {
    grid-column: 1 / span 18;
    grid-row: 15 / span 14;
  }
  #gallery-maeve .cs-item-4 {
    grid-column: 19 / span 18;
    grid-row: 15 / span 14;
  }
  #gallery-maeve .cs-item-4 .cs-picture img {
    width: 70%;
    border: 0px;
    margin-top: 2%;
    margin-bottom: 0;
    object-fit: cover;
  }
  #gallery-maeve .cs-item-5 {
    grid-column: 1 / span 18;
    grid-row: 29 / span 14;
  }
  #gallery-maeve .cs-item-7 {
    grid-column: 1 / span 18;
    grid-row: 43 / span 14;
  }
  #gallery-maeve .cs-item-7 .cs-picture img {
    width: 55%;
    border: 0px;
    margin-top: 5%;
    margin-bottom: 0;
    object-fit: cover;
  }
  #gallery-maeve .cs-item-8 {
    grid-column: 19 / span 18;
    grid-row: 43 / span 14;
  }
  #gallery-maeve .cs-item-8 .cs-picture img {
    width: 70%;
    border: 0px;
    margin-top: 5%;
    margin-bottom: 0;
    object-fit: cover;
  }
  #gallery-maeve .cs-item-9 {
    grid-column: 19 / span 18;
    grid-row: 57 / span 14;
  }
  #gallery-maeve .cs-item-9b {
    grid-column: 1 / span 18;
    grid-row: 57 / span 14;
  }
  #gallery-maeve .cs-item-5b {
    grid-column: 19 / span 18;
    grid-row: 29 / span 14;
  }
  #gallery-maeve .cs-item-5b .cs-picture img {
    width: 70%;
    margin-top: 5%;
    margin-bottom: 0;
    object-fit: cover;
  }
  #gallery-maeve .cs-item-10 {
    display: none;
  }
}
/* ----------- Tablet - 768px --------------*/
@media only screen and (min-width: 48rem) {
  main {
    transform: rotate(var(--bodyDeg)) translate(5%, -8%);
  }
  #cs-navigation .cs-logo {
    font-size: clamp(1rem, 2vw, 2rem);
    margin: 0 18%;
    padding-bottom: 1rem;
    padding-top: 1rem;
  }
  #gallery-maeve .cs-image-group {
    grid-template-columns: repeat(50, 1fr);
    grid-template-rows: repeat(30, 1.5vw);
  }
  #gallery-maeve .cs-item-1 {
    grid-column: 1 / span 8;
    grid-row: 8 / span 15;
  }
  #gallery-maeve .cs-item-1 .cs-picture img {
    width: 85%;
    border: 0px;
    margin-top: 15%;
    margin-bottom: 0;
    object-fit: cover;
  }
  #gallery-maeve .cs-item-2 {
    grid-column: 1 / span 8;
    grid-row: 23 / span 16;
  }
  #gallery-maeve .cs-item-2 .cs-picture img {
    width: 85%;
    border: 0px;
    margin-top: 18%;
    margin-bottom: 0;
    object-fit: cover;
  }
  #gallery-maeve .cs-item-3 {
    grid-column: 9 / span 12;
    grid-row: 1 / span 12;
  }
  #gallery-maeve .cs-item-3 .cs-picture img {
    width: 100%;
    border: 0px;
    margin-top: 3%;
    margin-bottom: 0;
    object-fit: cover;
  }
  #gallery-maeve .cs-item-4 {
    grid-column: 9 / span 12;
    grid-row: 13 / span 13;
  }
  #gallery-maeve .cs-item-4 .cs-picture img {
    width: 80%;
    border: 0px;
    margin-top: 5%;
    margin-bottom: 0;
    object-fit: cover;
  }
  #gallery-maeve .cs-item-5 {
    grid-column: 9 / span 12;
    grid-row: 26 / span 13;
  }
  #gallery-maeve .cs-item-5 .cs-picture img {
    width: 100%;
    border: 0px;
    margin-top: 5%;
    margin-bottom: 0;
    object-fit: cover;
  }
  #gallery-maeve .cs-item-5b {
    grid-column: 9 / span 12;
    grid-row: 39 / span 13;
  }
  #gallery-maeve .cs-item-5b .cs-picture img {
    width: 100%;
    border: 0px;
    margin-top: 5%;
    margin-bottom: 0;
    object-fit: cover;
  }
  #gallery-maeve .cs-item-6 {
    grid-column: 21 / span 10;
    grid-row: 1 / span 19;
  }
  #gallery-maeve .cs-item-6 .cs-picture img {
    width: 80%;
    border: 0px;
    margin-top: 30%;
    margin-bottom: 0;
    object-fit: cover;
  }
  #gallery-maeve .cs-item-7 {
    grid-column: 21 / span 10;
    grid-row: 20 / span 19;
  }
  #gallery-maeve .cs-item-7 .cs-picture img {
    width: 80%;
    border: 0px;
    margin-top: 30%;
    margin-bottom: 0;
    object-fit: cover;
  }
  #gallery-maeve .cs-item-7 .cs-title-box {
    width: 90%;
  }
  #gallery-maeve .cs-item-7 .cs-title-box .cs-h2 {
    line-height: 1.2em;
  }
  #gallery-maeve .cs-item-10 {
    display: block;
    background-color: white;
    grid-column: 31 / span 3;
    grid-row: 1 / span 38;
  }
  #gallery-maeve .cs-item-8 {
    grid-column: 34 / span 17;
    grid-row: 1 / span 19;
  }
  #gallery-maeve .cs-item-8 .cs-picture img {
    width: 80%;
    border: 3px solid black;
    margin-top: 10%;
    margin-bottom: 0;
    object-fit: cover;
  }
  #gallery-maeve .cs-item-9 {
    grid-column: 34 / span 17;
    grid-row: 20 / span 19;
  }
  #gallery-maeve .cs-item-9b {
    grid-column: 34 / span 17;
    grid-row: 39 / span 19;
  }
  #gallery-maeve .cs-text {
    padding: 0;
    width: 80%;
    margin: 0 auto;
    font-size: clamp(0.65rem, 1vw, 1rem);
  }
}
@media only screen and (min-width: 62.375rem) {
  #gallery-maeve .cs-text {
    font-size: var(--bodyFontSize);
  }
}
