/*-- -------------------------- -->
<---     L'ailleurs Gallery       -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    :root {
      background-color: #573720;
      ;
    }
    #cs-navigation .cs-logo {
      font-size: 0.8rem;
      padding-bottom: 1rem;
      padding-top: 1rem;
    }
    #gallery-maeve .cs-image-group {
      grid-template-columns: repeat(36, 1fr);
      /* 158px - 304px */
      // grid-template-rows: repeat(25, clamp(1.8rem, 12.5vw, 14.5rem));
    }
    #gallery-maeve .cs-item-1 {
      grid-column: 1 / span 18;
      grid-row: 1 / span 7;
      .cs-picture img {
        object-fit: cover;
        aspect-ratio: 1.2;
      }
    }
    #gallery-maeve .cs-item-2 {
      grid-column: 19 / span 18;
      grid-row: 1 / span 7;
      .cs-picture img {
        object-fit: cover;
        aspect-ratio: 1.2;
      }
    }
    #gallery-maeve .cs-item-3 {
      grid-column: 1 / span 18;
      grid-row: 8 / span 7;
      .cs-picture img {
        object-fit: cover;
        aspect-ratio: 1.2;
      }
    }
    #gallery-maeve .cs-item-4 {
      grid-column: 19 / span 18;
      grid-row: 15 / span 7;
      .cs-picture img {
        object-fit: cover;
        aspect-ratio: 0.8;
      }
    }
    #gallery-maeve .cs-item-5 {
      grid-column: 1 / span 18;
      grid-row: 15 / span 7;
      .cs-picture img {
        object-fit: cover;
        aspect-ratio: 0.8;
      }
    }
    #gallery-maeve .cs-item-6 {
      grid-column: 19 / span 18;
      grid-row: 8 / span 7;
      .cs-picture img {
        object-fit: cover;
        aspect-ratio: 1.2;
      }
    }
    #gallery-maeve .cs-item-7 {
      grid-column: 1 / span 18;
      grid-row: 22 / span 7;
      .cs-picture img {
        object-fit: cover;
        aspect-ratio: 1.2;
      }
    }
    #gallery-maeve .cs-item-8 {
      grid-column: 19 / span 18;
      grid-row: 22 / span 7;
      .cs-picture img {
        object-fit: cover;
        aspect-ratio: 1.2;
      }
    }
    #gallery-maeve .cs-item-9 {
      grid-column: 1 / span 18;
      grid-row: 29 / span 7;
      .cs-picture img {
        object-fit: cover;
        aspect-ratio: 1.2;
      }
    }
    #gallery-maeve .cs-item-11 {
      grid-column: 19 / span 18;
      grid-row: 29 / span 7;
      .cs-picture img {
        object-fit: cover;
        aspect-ratio: 1.2;
      }
    }
    #gallery-maeve .cs-item-12 {
      grid-column: 1 / span 18;
      grid-row: 36 / span 7;
      .cs-picture img {
        object-fit: cover;
        aspect-ratio: 1.2;
      }
    }
    #gallery-maeve .cs-item-13 {
      grid-column: 19 / span 18;
      grid-row: 36 / span 7;
      .cs-picture img {
        object-fit: cover;
        aspect-ratio: 1.4;
      }
    }

    #gallery-maeve .cs-item-10 {
      grid-column: 19 / span 18;
      grid-row: 43 / span 7;
    }

    #gallery-maeve .cs-item-14,
    #gallery-maeve .cs-item-15,
    #gallery-maeve .cs-item-16,
    #gallery-maeve .cs-item-17,
    #gallery-maeve .cs-item-18 {
      display: none;
    }
}


/* ----------- Tablet - 768px --------------*/
@media only screen and (min-width: 48rem) {  
    main {
      transform: rotate(var(--bodyDeg)) translate(2%, -5%);
    } 
    #cs-navigation .cs-logo {
        margin: 0 21%;
        font-size: clamp(1rem, 2.1vw, 2.5rem);
      }
    #gallery-maeve .cs-image-group {
      grid-template-columns: repeat(60, 1fr);
      grid-template-rows: repeat(1, 3vw);
    }
    // Column 1
    #gallery-maeve .cs-item-13 {
      grid-column: 1 / span 14;
      grid-row: 9 / span 5;
    }
    #gallery-maeve .cs-item-3 {
      grid-column: 1 / span 14;
      grid-row: 13 / span 6;
    }
    // Column 2
    #gallery-maeve .cs-item-5 {
      background-color: white;
      // margin-left: 2.55%;
      grid-column: 16 / span 14;
      grid-row: 1 /  span 6;
      border-right: 0;
      border-top: 0px;
      .cs-picture {
        img {    
          border-bottom: 2px solid black;
          width: 60%;
          margin: 0 auto;
        }
      }
    }
    #gallery-maeve .cs-item-8 {
      grid-column: 16 / span 14;
      grid-row: 7 / span 6;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      .cs-picture {
        border-bottom:  var(--borderWidth2) solid black;
        img {    
          width: 95%;
          border: 3px solid black;  
          border-bottom: 0;
          // margin-top: 10%;
          margin-bottom: 0;
          object-fit: cover;
        }
      }
    }
    #gallery-maeve .cs-item-7 {
      grid-column: 16 / span 14;
      grid-row: 13 / span 6;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;  
      .cs-picture {
        border-bottom:  var(--borderWidth2) solid black;
        img {    
          width: 95%;
          border: 3px solid black;  
          border-bottom: 0;
          // margin-top: 10%;
          margin-bottom: 0;
          object-fit: cover;
        }
      }
    }
    #gallery-maeve .cs-item-11  {
      grid-column: 10 / span 14;
      grid-row: 19 / span 3;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;  
      border-right: 0;
      .cs-picture {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 0;
        left: 0;
        // margin: 0 auto;
        height: 100%;
        width: 100%;
        img {      
          position: relative;
          object-fit: cover;
        }
      }
    }
    #gallery-maeve .cs-item-10  {
      grid-column: 24 / span 10;
      grid-row: 19 / span 3;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start; 
      border-left: 0;
      .cs-picture {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 0;
        left: 0;
        margin: 0 auto;
        // height: 90%;
        width: 87%;
        // width: 90%;
        object-fit: contain;
        img {      
          position: relative;
          // top: 0%;
          // height: 100%;
          // width: auto;
          object-fit: contain;
        }
      }

    }

    //  Column 3
    #gallery-maeve .cs-item-2 {
      grid-column: 31 / span 14;
      grid-row: 1 / span 6;
    }
    #gallery-maeve .cs-item-1 {
      grid-column: 31 / span 14;
      grid-row: 7 / span 6;
    }
    #gallery-maeve .cs-item-6 {
      grid-column: 31 / span 14;
      grid-row: 13 / span 6;
    }

    // Column 4
    #gallery-maeve .cs-item-4 {
      grid-column: 46 / span 14;
      grid-row: 7 / span 6; 
      .cs-picture {
        display: flex;
        position: relative;
        top: 0;
        // left: 0;
        // right: 0;
        margin: 0 auto;
        // margin-right: 12%;
        // margin-left: auto;
        height: 100%;
        width: 60%;
        // width: 90%;
        object-fit: contain;
        // transform: rotate(90deg);
      }
    }
    #gallery-maeve .cs-item-18 {
      grid-column: 46 / span 14;
      grid-row: 7 / span 6;
      z-index: -1;
    }
    #gallery-maeve .cs-item-9 {
      grid-column: 46 / span 14;
      grid-row: 13 / span 6;
    }
    #gallery-maeve .cs-item-12 {
      grid-column: 46 / span 14;
      grid-row: 1 / span 6;
    }
    #gallery-maeve .cs-item-17 {
      display: block;
      grid-column: 60 / span 1;
      grid-row: 1 / span 18;
    }
    // white lines 
    #gallery-maeve .cs-item-14 {
      display: block;
      grid-column: 15 / span 1;
      grid-row: 1 / span 18;
    }
    #gallery-maeve .cs-item-15 {
      display: block;
      grid-column: 30 / span 1;
      grid-row: 1 / span 18;
    }
    #gallery-maeve .cs-item-16 {
      display: block;
      grid-column: 45 / span 1;
      grid-row: 1 / span 18;
    }
}
  