---
title: 'Empreintes | Paintings by Maeve | Paris'
headerTitle: 'Maeve'
description: 'Meta description for the page'
preloadImg: '/assets/images/fond.webp'
permalink: '/'
footerType: index
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/critical.css"/>
    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                  Gallery                     -->
<!-- ============================================ -->
<section id="gallery-maeve-main">
    <div class="cs-container">
        <ul class="cs-image-group">
            <!-- Painting 1 -->
            <li class="cs-item cs-item-1">
                <a href="/enfances">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/enfances.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/enfances.webp">
                        <img loading="lazy" decoding="async" src="/assets/images/enfances.webp" alt="Enfances" width="529" height="256">
                </picture>
                </a>
                <!-- Painting Title Box -->
            <div class="cs-title-box">
                <h2 class="cs-h2">Enfances</h2>
            </div>
            </li>
            <!-- Painting 2 -->
            <li class="cs-item cs-item-2">
                <a href="/souvenirs-meles">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/souvenirs.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/souvenirs.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/souvenirs.webp" alt="Tableau Souvenirs" width="255" height="255">
                </picture>
                </a>
                <!-- Painting Title Box -->
                <div class="cs-title-box">
                    <h2 class="cs-h2">Souvenirs mêlés</h2>

                </div>
            </li>
            <!-- Painting 3 -->
            <li class="cs-item cs-item-3">
                <a href="/elevations">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/elevations.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/elevations.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/elevations.webp" alt="Tableau Elevations" width="255" height="255">
                </picture>
                </a>
                </a>                <!-- Painting Title Box -->
                <div class="cs-title-box">
                    <h2 class="cs-h2">Elévations</h2>

                </div>
            </li>
            <!-- Blue line -->
            <li class="cs-item cs-item-blue-line-1 cs-hide-on-mobile">
                
                <picture class="cs-picture">
                </picture>

                <!-- Painting Title Box -->
                <div class="cs-title-box">
                    <h2 class="cs-h2">.</h2>

                </div>
            </li>
            <!-- Painting 4 -->
            <li class="cs-item cs-item-4">
                <a href="/abstractions">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/abstractions.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/abstractions.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/abstractions.webp" alt="Tableau Abstractions" width="255" height="255">
                </picture>
                </a>
                <!-- Painting Title Box -->
                <div class="cs-title-box">
                    <h2 class="cs-h2">Abstractions</h2>

                </div>
            </li>
            <!-- Painting 5 -->
            <li class="cs-item cs-item-5">
                <a href="/reves-et-cauchemars">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/cauchemars.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/cauchemars.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/cauchemars.webp" alt="Tableau Cauchemars" width="255" height="255">
                </picture>
                </a>
                <!-- Painting Title Box -->
                <div class="cs-title-box">
                    <h2 class="cs-h2">Rêves et cauchemars</h2>

                </div>
            </li>
            <!-- Painting 6 -->
            <li class="cs-item cs-item-6">
                <a href="/lailleurs">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/lailleurs.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/lailleurs.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/lailleurs.webp" alt="Tableau L'ailleurs" width="255" height="530">
                </picture>
                </a>
                <!-- Painting Title Box -->
                <div class="cs-title-box">
                    <h2 class="cs-h2">L'ailleurs des images</h2>

                </div>
            </li>
            <!-- Painting 7 -->
            <li class="cs-item cs-item-7">
                <a href="/souffrances">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/souffrances.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/souffrances.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/souffrances.webp" alt="Tableau Souffrances" width="255" height="530">
                </picture>
                </a>
                <!-- Painting Title Box -->
                <div class="cs-title-box">
                    <h2 class="cs-h2">Souffrances</h2>

                </div>
            </li>
            <!-- Blue line -->
            <li class="cs-item cs-item-blue-line-2 cs-hide-on-mobile">
                
                <picture class="cs-picture">
                </picture>
         
                <!-- Painting Title Box -->
                <div class="cs-title-box">
                    <h2 class="cs-h2">.</h2>
                </div>
            </li>
            <!-- Painting 8 -->
            <li class="cs-item cs-item-8">
                <a href="/solitude">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/solitude.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/solitude.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/solitude.webp" alt="Tableau Soltiude" width="255" height="530">
                </picture>
                </a>
                <!-- Painting Title Box -->
                <div class="cs-title-box">
                    <h2 class="cs-h2">Solitude</h2>

                </div>
            </li>
            <!-- Painting 9 -->
            <li class="cs-item cs-item-9">
                <a href="/la-roue-du-temps">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/laroue.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/laroue.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/laroue.webp" alt="Tableau La roue" width="255" height="530">
                </picture>
                </a>
                <!-- Painting Title Box -->
                <div class="cs-title-box">
                    <h2 class="cs-h2">La roue du temps</h2>

                </div>
            </li>
            <!-- Painting 10 -->
            <li class="cs-item cs-item-10">
                <a href="/tendresses-et-danse">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/danse.webp">
                    <source media="(min-width: 601px)" srcset="/assets/images/danse.webp">
                    <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/images/danse.webp" alt="Tableau Danse" width="255" height="530">
                </picture>
                </a>
                <!-- Painting Title Box -->
                <div class="cs-title-box">
                    <h2 class="cs-h2">Tendresses et Danse</h2>

                </div>
            </li>
            <picture class="fond">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/fond.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/fond.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/fond.webp" alt="Fond Empreintes" width="305" height="440">
            </picture>
        </ul>    
    </div>
</section>

<section id="subtitle">
    <div class="cs-container-footer">
        <div class="cs-footer-subtitle">
            <h2 class="cs-h3">Peintures et sculptures</h2>
        </div>
        <div class="cs-footer-email">
            <a href="mailto:maeve75@yahoo.com"><h2 class="cs-h3">Maeve75@yahoo.com</h2></a>
        </div>
    </div>
</section>
                                

{% endblock %}